<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Reports Index</title>
</head>
<body>
    <h1>Traffic Safety: Reports Index</h1>
    <h3> Click <a href="/reports/new">HERE</a> to generate a new report. </h3><br>
    <table>
        <thead>
            <tr>
                <th>Report Type</th>
                <th>Location Coordinates</th>
                <th>Time & Date</th>
                <th>Report Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <%  reports.forEach(function(r){ %>
                    <td><%= r.reportType %></td>
                    <td><%= r.locationCoordinates %></td>
                    <td><%= r.timeAndDate %></td>
                    <td> <a href="/reports/<%=r._id %>">Report Information</a> </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    
</body>
</html>